{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-white mb-4">Post index</h1>

        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th>Posts</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>
                    <h2>{{ post.title }}</h2>
                        <hr>
                    {{ post.content|raw }}
                    <hr>
                        <a href="{{ path('app_post_show', {'id': post.id}) }}" class="btn btn-sm btn-primary">Show</a>
                        <a href="{{ path('app_post_edit', {'id': post.id}) }}" class="btn btn-sm btn-secondary">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">No records found.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_post_new') }}" class="btn btn-success mt-3">Create new</a>
    </div>
{% endblock %}
